[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
falcon = "*"
pip = "*"
cython = "*"
gunicorn = "*"
simple-pid = "*"
pigpio = "*"

[requires]
python_version = "3.6"
